/upload/*
/wp-content/uploads/*
wp-content/cache/*
public_html/newsletter/
wp-content/backups-dup-lite/tmp
/.git
/.well-known
/vendor
/composer.phar
/yandex_*.html
/google*.html
/.idea
/pma
*.sql
*.sql.*
*.log
*.log.*
*.tar
*.tar.*
*.gz
*.gz.*
*.txt
*.zip
*.rar
*.7zip
*.jpg
*.jpeg
*.png
*.gif
*.mp3
*.mp4
*.avi
*.mpg
*.mpeg
*.exe
*.dt
*.doc
*.docx
*.xls
*.xlsx
*.swp
*.swo
*.pdf
*.tmp
*.xml
*.yml
*.mp4
*.MP4
.DS_Store
*.DS_Store
Thumbs.db
.Trashes
.bash_history
.viminfo
*.ignore*
._*
