/.git
/.well-known
/vendor
/composer.phar
/yandex_*.html
/google*.html
/wp-content/cache
/.idea
*.sql
*.sql.*
*.log
*.log.*
*.tar
*.tar.*
*.gz
*.gz.*
*.zip
*.rar
*.7zip
*.jpg
*.jpeg
*.png
*.gif
*.mp3
*.mp4
*.avi
*.mpg
*.mpeg
*.exe
*.xml
*.dt
*.doc
*.docx
*.xls
*.xlsx
*.swp
*.swo
*.pdf
*.tmp
.DS_Store
*.DS_Store
Thumbs.db
.Trashes
.bash_history
.viminfo
*.ignore*
._*
